<!DOCTYPE html>
<html>
  <head>
    <title>Categories List</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <h1>Account List</h1>
    <ul>
      {% for account in accounts %}
      <li>
        {{ account.Name }}
        <form method="POST" action="/deleteAccount/{{ account.Id }}">
          <button type="submit">Delete</button>
        </form>

        <a href="{{ url_for('account.editAccount', id=account.Id) }}"
          ><i class="fas fa-edit"></i
        ></a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
